@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
}


body{
    background-color: white;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.container {

    width: 100%;
    height: 100%;
    /* Scroll */

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

   
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    scroll-snap-align: center;
    font-family: 'Lato',;
    width: 100%;
  }



.navbar ul li a {
    color: #ffffff;
    font-size: 1.1em;
  }
  .navbar ul li a:hover {
    color: #ffffff;
  }
  .navbar ul li a{
    position: relative;
  }
  .navbar ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
  }
  
  .navbar ul li a:hover::after {
    width: 100%;
  }

  
  #home{
    text-decoration: none;
    text-emphasis: none;
    font-size: 1rem;
    color: lightblue;
    font-family: 'Lato', sans-serif;

}

#aboutScreen{
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 1rem;
    padding: 4px;
}
#about{
    background-color: white;
}
#gallery{
    background-color: white;
}
#contact{
    color: rgb(45, 175, 219);
    background-color: white;
    font-family: 'Lato', sans-serif;
}
section{
    font-family: 'Lato', sans-serif;
}

  

  @media only screen and (min-width: 992px) {
    .navbar {
      padding: 0;
    }
    .navbar ul {
      padding: 0 0.7em;
    }
    .navbar li a{
      padding: 1em 0;
    }
    .navbar ul li {
      margin: 0 1em;
    }
    .navbar ul li::after {
        transition: all 0.5s;
      }
  }

h3 a{
    text-decoration: none;
    color: white;
}

#my-gallery ol li{
  padding-top: 20px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
